@use "../abstracts/variables" as *;
@use "../abstracts/extend" as *;
@use "../abstracts/mixins" as *;

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.linear {
  transition-timing-function: linear !important;
  -webkit-transition-timing-function: linear !important;
}

.text-initial {
  text-transform: initial;
}

.line-clamp-1 {
  @include line-clamp(1);
}

.line-clamp-2 {
  @include line-clamp(2);
}

.line-clamp-3 {
  @include line-clamp(3);
}

.line-clamp-4 {
  @include line-clamp(4);
}

.d-grid {
  display: grid !important;
}

.d-sm-grid {
  @include breakpoint(sm) {
    display: -ms-grid !important;
    display: grid !important;
  }
}

.d-md-grid {
  @include breakpoint(md) {
    display: -ms-grid !important;
    display: grid !important;
  }
}

.d-lg-grid {
  @include breakpoint(lg) {
    display: -ms-grid !important;
    display: grid !important;
  }
}

.d-mlg-grid {
  @include breakpoint(mlg) {
    display: -ms-grid !important;
    display: grid !important;
  }
}

.d-xl-grid {
  @include breakpoint(xl) {
    display: -ms-grid !important;
    display: grid !important;
  }
}

.d-xxl-grid {
  @include breakpoint(xxL) {
    display: -ms-grid !important;
    display: grid !important;
  }
}

.d-xxxl-grid {
  @include breakpoint(xxxl) {
    display: -ms-grid !important;
    display: grid !important;
  }
}

.d-xxxxl-grid {
  @include breakpoint(xxxxl) {
    display: -ms-grid !important;
    display: grid !important;
  }
}

.d-5xl-grid {
  @include breakpoint(5xl) {
    display: -ms-grid !important;
    display: grid !important;
  }
}
.saaslyn_screenfix_right {
  margin-right: calc((-100vw + 100%) / 2);
}

.saaslyn_screenfix_left {
  margin-left: calc((-100vw + 100%) / 2);
}

.background-image,
[data-bg-src] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/*=======> utility classes start here <=======*/
// color utility start
// color utility end
