@use "../abstracts/variables" as *;
@use "../abstracts/extend" as *;
@use "../abstracts/mixins" as *;

.blog-details {
  &.section {
    background: var(--bg-color-2);
  }
  &__wrapper {
    .blog-details {
      p {
        color: #a1a0a3;
        font-family: $ff-urbanist;
        font-size: 18px;
        font-weight: 600;
        line-height: 177.778%;
        letter-spacing: -0.72px;
        opacity: 1;
      }
      .thumbnail {
        border-radius: 32px;
        overflow: hidden;
        margin-block: 50px;
      }

      .sub-section {
        margin-top: 60px;
        margin-bottom: 60px;
        h4.title {
          font-family: $ff-urbanist;
          font-weight: 600;
          line-height: 100%;
          letter-spacing: -1.6px;
          margin-bottom: 22px;
        }
        h3.title {
          font-family: $ff-urbanist;
          font-weight: 600;
          line-height: 123.81%;
          letter-spacing: -2.1px;
          margin-bottom: 22px;
          max-width: 820px;
        }
      }

      .info-section {
        @extend %d-flex, %item-center;
        gap: 40px;
        margin-bottom: 40px;

        @include breakpoint(max-md) {
          flex-direction: column;
          gap: 25px;
        }
        .info-item {
          @extend %d-flex, %item-start;
          gap: 25px;
          .info-icon {
            @extend %shrink-0, %d-grid, %place-center;
            width: 66px;
            height: 66px;
            border-radius: 100%;
            overflow: hidden;
            background-color: rgba(var(--color-white-rgb), 0.08);
          }
          .info-content {
            .info-title {
              margin-bottom: 14px;
            }
          }
        }
      }
      .paragraph-group {
        p {
          margin-bottom: 22px;
        }
      }
    }
    .tags-and-share {
      @extend %d-flex, %justify-between, %item-center;
      gap: 25px;
      border-radius: 10px;
      border: 2px solid rgba(217, 217, 217, 0.23);
      padding: 40px;

      @include breakpoint(max-xl) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 30px;
      }
      @include breakpoint(max-md) {
        align-items: center;
        gap: 10px;
        padding: 25px;
      }

      .tags {
        @extend %d-flex, %item-center;
        gap: 24px;

        @include breakpoint(max-md) {
          gap: 15px;
        }
        .tag-title {
          font-family: $ff-urbanist;
          font-weight: 600;
          line-height: 133.333%;
          letter-spacing: -1.2px;

          @include breakpoint(max-sm) {
            font-size: 16px;
          }
        }
        .tags-list {
          @extend %d-flex, %item-center;
          gap: 16px;
          @include breakpoint(max-md) {
            gap: 10px;
          }
          li {
            text-align: center;
            font-family: $ff-urbanist;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.56px;
            width: max-content;
            padding: 14px 20px;
            border-radius: 40px;
            background: rgba(var(--color-white-rgb), 0.16);

            @include breakpoint(max-lg) {
              padding: 10px 16px;
              font-size: 12px;
            }
            @include breakpoint(max-sm) {
              padding: 8px 12px;
            }
          }
        }
      }
      .share-group {
        @include breakpoint(max-xl) {
          width: 100%;
        }
        .post-and-share {
          @extend %d-flex, %item-center;
          gap: 24px;

          @include breakpoint(max-xl) {
            justify-content: space-between;
            gap: 20px;
          }
          @include breakpoint(max-md) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
          }

          .post {
            @extend %d-flex, %item-center;
            gap: 24px;
            @include breakpoint(max-md) {
              gap: 15px;
            }
            .post-title {
              font-family: $ff-urbanist;
              font-weight: 600;
              line-height: 133.333%;
              letter-spacing: -1.2px;
              @include breakpoint(max-sm) {
                font-size: 16px;
              }
            }
            .post-list {
              @extend %d-flex, %item-center;
              gap: 16px;
              @include breakpoint(max-md) {
                gap: 10px;
              }
              li {
                text-align: center;
                font-family: $ff-urbanist;
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: -0.56px;
                width: max-content;
                padding: 14px 20px;
                border-radius: 40px;
                background: rgba(var(--color-white-rgb), 0.16);
                @include breakpoint(max-lg) {
                  padding: 10px 16px;
                  font-size: 12px;
                }
                @include breakpoint(max-sm) {
                  padding: 8px 12px;
                }
              }
            }
          }
          .share {
            @extend %d-flex, %item-center;
            gap: 24px;
            @include breakpoint(max-md) {
              gap: 15px;
            }
            .share-title {
              font-family: $ff-urbanist;
              font-weight: 600;
              line-height: 133.333%;
              letter-spacing: -1.2px;
              @include breakpoint(max-sm) {
                font-size: 16px;
              }
            }
            .share-list {
              flex-shrink: 0;
              @extend %d-flex, %item-center;
              gap: 10px;

              li {
                a {
                  @extend %d-grid, %place-center, %shrink-0;
                  width: 30px;
                  height: 30px;
                  border-radius: 100%;
                  overflow: hidden;
                  background-color: var(--color-white);
                  color: #383838;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    .recent-comments {
      .title {
        font-family: $ff-urbanist;
        font-weight: 600;
        line-height: 133.333%;
        letter-spacing: -1.2px;
        margin-bottom: 32px;
      }

      &__wrapper {
        @extend %d-flex;
        gap: 24px;
        margin-bottom: 30px;

        @include breakpoint(max-lg) {
          flex-direction: column;
          gap: 20px;
        }
        .recent-comments-item {
          @extend %flex-1;
          border-radius: 24px;
          background: #0c0d0d;
          padding: 32px;

          @include breakpoint(max-sm) {
            padding: 20px;
          }

          .item-header {
            .author-post {
              @extend %d-flex, %justify-between, %item-center;
              margin-bottom: 20px;
              .author {
                @extend %d-flex, %item-center;
                gap: 16px;
                .author-thumb {
                  @extend %shrink-0;
                  width: 60px;
                  height: 60px;
                  border-radius: 100%;
                  overflow: hidden;

                  @include breakpoint(max-sm) {
                    width: 45px;
                    height: 45px;
                  }
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .author-info {
                  .author-name {
                    font-family: $ff-urbanist;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 177.778%;
                    letter-spacing: -0.9px;

                    @include breakpoint(max-sm) {
                      line-height: 1.1;
                      font-size: 16px;
                    }
                  }
                  .author-designation {
                    @extend %d-inline-block;
                    color: rgba(var(--color-white-rgb), 0.64);
                    font-family: $ff-urbanist;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 228.571%;
                    letter-spacing: -0.7px;
                    @include breakpoint(max-sm) {
                      font-size: 12px;
                    }
                  }
                }
              }
              .post-info {
                @extend %d-flex, %flex-col, %item-end;
                .post-time,
                .post-date {
                  color: rgba(var(--color-white-rgb), 0.64);
                  text-align: right;
                  font-family: $ff-urbanist;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 228.571%;
                  letter-spacing: -0.7px;
                  @include breakpoint(max-sm) {
                    font-size: 12px;
                    line-height: 2;
                  }
                }
              }
            }
            .stars {
              @extend %d-flex, %item-center;
              gap: 6px;
              color: #ffab00;
            }
          }
          .item-body {
            padding-block: 20px 30px;
            p {
              color: rgba(var(--color-white-rgb), 0.64);
              font-family: $ff-urbanist;
              font-size: 16px;
              font-weight: 500;
              line-height: 162.5%;
              letter-spacing: -0.8px;
              opacity: 1;
            }
          }
          .item-footer {
            @extend %d-flex, %item-center;
            gap: 40px;
            .like-btn,
            .reply-btn {
              @extend %d-inline-flex, %item-center;
              gap: 8px;
              color: rgba(var(--color-white-rgb), 0.64);
              font-family: $ff-urbanist;
              font-size: 16px;
              font-weight: 500;
              line-height: 162.5%;
              letter-spacing: -0.8px;
            }
          }
        }
      }
    }
    .write-comment {
      .title {
        font-family: $ff-urbanist;
        font-weight: 600;
        line-height: 133.333%;
        letter-spacing: -1.2px;
        margin-bottom: 32px;
      }

      .comment-form {
        .input-group {
          @extend %d-flex, %flex-col;

          .form-label {
            font-family: $ff-urbanist;
            font-size: 18px;
            font-weight: 600;
            line-height: 155.556%;
            letter-spacing: -0.72px;
            margin-bottom: 13px;
          }
          input,
          textarea {
            width: 100% !important;
            border-radius: 10px !important;
            margin: 0 !important;
            border: 1px solid rgba(var(--color-white-rgb), 0.2);
            color: rgba(var(--color-white-rgb), 0.62);
            font-family: $ff-urbanist;
            font-size: 16px;
            font-weight: 500;
            line-height: 175%;
            letter-spacing: -0.64px;
            padding: 15px 24px;
            background-color: transparent;

            &::placeholder {
              color: rgba(var(--color-white-rgb), 0.62);
              opacity: 1;
            }
          }
        }
        .button-area {
          margin-top: 50px;
        }
      }
    }
  }
}
