@use "../abstracts/variables" as *;
@use "../abstracts/extend" as *;
@use "../abstracts/mixins" as *;

.report-customize {
  &.section {
    @extend %p-relative;
    background-color: var(--bg-color-1);
    z-index: 2;
    overflow: hidden;

    .bg-shape {
      @extend %p-absolute;
      right: -5px;
      bottom: -5px;
      z-index: -1;
    }
  }
  &__wrapper {
    overflow: hidden;
    border-radius: 30px;
    padding: 8px;
    background: linear-gradient(
      180deg,
      rgba(var(--primary-color-rgb), 0.02) 0%,
      rgba(var(--secondary-color-rgb), 0.02) 48.08%,
      rgba(var(--third-color-rgb), 0.02) 100%
    );
  }

  &__item {
    border-radius: 24px;
    background: var(--bg-color-2);
    padding: 42px;
    height: 100%;

    @include breakpoint(max-xxl) {
      padding: 30px;
    }
    @include breakpoint(max-md) {
      padding: 20px;
    }
    &.type-1 {
      &:has(.item-content) {
        @extend %d-flex, %flex-col, %justify-between;
        gap: 40px;
      }
      .item-title {
        @extend %text-bold;
        color: var(--text-color-main);
        line-height: 107.143%;
        letter-spacing: -1.68px;
      }
      p {
        @extend %text-medium;
        color: rgba(var(--text-color-main-rgb), 0.72);
        font-weight: 600;
        margin-top: 20px;
      }
      .analysis-list {
        margin-top: 22px;
        ul {
          li {
            @extend %d-inline-flex, %item-start, %text-medium, %p-relative;
            gap: 10px;
            color: rgba(var(--text-color-main-rgb), 0.72);
            line-height: 150%;
            font-size: $fs-16;
            font-weight: 600;

            &:not(:last-of-type) {
              margin-bottom: 8px;
            }

            i,
            svg {
              color: var(--primary-color);
              margin-top: 4px;
            }
          }
        }
      }
    }

    &.type-2 {
    }
    &.type-3 {
      @extend %d-grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 9px;

      @include breakpoint(max-sm) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 24px;
      }

      .activity {
        @extend %d-flex, %flex-col, %justify-between;
        gap: 30px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 32px;
        padding: 32px;

        @include breakpoint(max-xxl) {
          padding: 25px;
        }
        @include breakpoint(max-xl) {
          padding: 20px;
          border-radius: 20px;
        }

        .activity-header {
          .title {
            color: var(--text-color-main);
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1.6px;
          }
          .avatars {
            margin-top: 18px;
            img {
              width: 42px;
              height: 42px;
              border-radius: 50%;
              object-fit: cover;

              &:not(:last-of-type) {
                margin-right: -10px;
              }
            }
          }
        }
        .progress-wrapper {
          @extend %d-flex, %justify-between, %p-relative;
          gap: 10px;
          .progress {
            @extend %p-relative;
            width: 23px;
            height: 118px;
            border-radius: 30px;

            &::before {
              @extend %p-absolute;
              content: "";
              left: 0;
              bottom: 0;
              width: 100%;
              border-radius: 30px;
            }

            &:nth-of-type(1) {
              &::before {
                height: 80.27%;
                background-color: #b1e3ff;
              }
            }
            &:nth-of-type(2) {
              &::before {
                height: 42.857%;
                background: linear-gradient(
                  180deg,
                  #7397e9 0%,
                  #d1d7f5 48.08%,
                  #eff7fb 100%
                );
              }
            }
            &:nth-of-type(3) {
              &::before {
                height: 56.46%;
                background-color: #baedbd;
              }
            }
            &:nth-of-type(4) {
              &::before {
                height: 42.857%;
                background: linear-gradient(
                  180deg,
                  #7397e9 0%,
                  #d1d7f5 48.08%,
                  #eff7fb 100%
                );
              }
            }
            &:nth-of-type(5) {
              &::before {
                height: 56.46%;
                background-color: #b1e3ff;
              }
            }
            &:nth-of-type(6) {
              &::before {
                height: 70.75%;
                background-color: #baedbd;
              }
            }
            &:nth-of-type(7) {
              &::before {
                height: 89.8%;
                background: linear-gradient(
                  180deg,
                  #7397e9 0%,
                  #d1d7f5 48.08%,
                  #eff7fb 100%
                );
              }
            }
          }
          .progress-percentage {
            @extend %p-absolute, %d-grid, %place-center;
            left: 50%;
            top: 15px;
            border-radius: 31.579px;
            background: var(--bg-color-2);
            color: var(--text-color-main);
            font-size: 15.158px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.303px;
            padding: 7px 16px;
            @include transform(translateX(-50%));

            &::after {
              @extend %p-absolute;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 6px solid var(--bg-color-2);
              top: 100%;
              left: 50%;
              @include transform(translateX(-50%));
            }
          }
        }
      }
      .profile {
        @extend %d-flex, %flex-col, %justify-center, %item-center;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 32px;
        padding: 32px;
        text-align: center;
        @include breakpoint(max-xxl) {
          padding: 25px;
        }
        @include breakpoint(max-md) {
          padding: 20px;
        }
        .avatar {
          @extend %shrink-0, %d-grid, %place-center;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: #eeeffa;
          img {
            @extend %shrink-0;
            width: 75.429px;
            height: 75.429px;
            object-fit: cover;
          }
        }
        .title {
          color: var(--text-color-main);
          font-weight: 500;
          line-height: 127.386%;
          letter-spacing: -0.84px;
          margin-top: 27px;
        }
        .designation {
          color: var(--text-color-main);
          font-weight: 500;
          line-height: 119.483%;
          letter-spacing: -1.24px;
          opacity: 0.63;
          margin-top: 6px;
          @include breakpoint(lg) {
            font-size: 31px;
          }
        }
      }
    }
  }
}
