@use "../abstracts/variables" as *;
@use "../abstracts/extend" as *;
@use "../abstracts/mixins" as *;

.service-main {
  &.section {
    @extend %p-relative;
    overflow: hidden;
    z-index: 1;
    background-color: #0f171d;
  }
  &__item {
    @extend %p-relative;
    padding: 1px;
    overflow: hidden;
    border-radius: 24px;
    height: 100%;
    @include transition(all 1s);

    &::before {
      @extend %p-absolute;
      left: 0%;
      top: 0%;
      height: 100%;
      width: 100%;
      opacity: 1;
      background: linear-gradient(
        115deg,
        rgba(var(--color-white-rgb), 0.25) 11.62%,
        rgba(var(--color-white-rgb), 0) 50.7%,
        rgba(var(--color-white-rgb), 0.25) 92.88%
      );
      z-index: 1;
      @include transition(all 1s linear);
    }

    .service-box {
      @extend %p-relative;
      height: 100%;
      padding: 32px 36px;
      overflow: hidden;
      background-color: var(--bg-color-2);
      border-radius: 24px;
      z-index: 1;
      @include transition(all 0.2s linear);

      .item-title {
        @extend %d-flex, %item-center;
        gap: 15px;
        font-family: $ff-urbanist;
        font-weight: 600;
        line-height: 133.333%;
        letter-spacing: -1.2px;
        margin-bottom: 10px;
      }
      p {
        font-family: $ff-urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 137.5%;
        letter-spacing: -0.32px;
        opacity: 0.7;
      }
    }

    &:hover {
      background: linear-gradient(
        115deg,
        rgba(var(--color-white-rgb), 0) 11.62%,
        rgba(var(--color-white-rgb), 0) 50.7%,
        rgba(var(--color-white-rgb), 0) 92.88%
      );

      &::before {
        -webkit-animation: animate_border 6.5s linear infinite;
        animation: animate_border 6.5s linear infinite;
        opacity: 1;
        left: 50%;
        top: 50%;
        height: 269%;
        width: 115%;
      }
    }
  }
}
